:root {
    --ff: 'Mulish', sans-serif;;
    --fw-n: 300;
    --fw-m: 600;
    --fw-b: 800;
    --fs-4: 2rem;
    --fs-2: 3.5rem;
    --fs-p: 1rem;
    --fs-6: 1.5rem;
    --primary-clr: #070A52;
    --secondary-clr: #FFD95A;
    --secondary-clr-light: #FFF2CC;
    --accent-clr: #FFD95A;
    --spacer: 0.8rem;
    --spacer-md: calc(var(--spacer) * 1.5);
    --spacer-lg: calc(var(--spacer) * 2.5);
    --shadow: 0 0 1em rgba(0,0,0, .25);
    --br: 8px;
  }

  .row {
    display: flex;
  }

  .column {
    flex: 33%;
  }

  /* header */
  #news-events-header p {
    font:8rem sans-serif;
    text-align:center;
  }

  /* news section */

  h2 {
    font:3rem sans-serif;
    padding:20px;
    margin-left:100px;
  }

  .news-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin:30px;
    padding:40px;
    align-content:center;
  }

  .news-card:hover {
    background-color: var(--secondary-clr);
    border-radius: var(--br);
    box-shadow: var(--shadow);
    transform: scale(1);
    transition: 0.4s;
  }

  .card-text {
    font-size:1.5rem;
    font-weight:bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:10px;
  }

  #news-see-more {
    text-align: center;
  }

  /* events section */

  #events-section {
    margin-bottom:40px;
  }

  #events-header {
    padding:40px;
    margin-left:100px;
    text-align:center;
  }

  #upcoming-events {
    font-size:1.5rem;
    font-family:var(--ff);
    table-layout:fixed;
    width:100%;
    border-collapse:collapse;
    border:5px black;
  }

  td {
    padding:10px;
    text-align:right;
    border:10px;
  }

  .events-column {
    flex:70%;
  }

  .newsletter-column {
    font-family:var(--ff);
    font-size:1.2rem;
    height:auto;
    position:relative;
    text-align:center;
    top:80px;
    margin:40px;
    border-style:5px black;
  }

  input {
    margin:10px;
  }





