:root {
    --ff: 'Mulish', sans-serif;;
    --fw-n: 300;
    --fw-m: 600;
    --fw-b: 800;
    --fs-4: 2rem;
    --fs-2: 3.5rem;
    --fs-p: 1rem;
    --fs-6: 1.5rem;
    --primary-clr: #070A52;
    --secondary-clr: #FFD95A;
    --secondary-clr-light: #FFF2CC;
    --accent-clr: #FFD95A;
    --spacer: 0.8rem;
    --spacer-md: calc(var(--spacer) * 1.5);
    --spacer-lg: calc(var(--spacer) * 2.5);
    --shadow: 0 0 1em rgba(0,0,0, .25);
    --br: 8px;
  }

.top_section {
    position: relative;
    display: inline-block;
  }
  
.top_section_content{
    padding: 2rem;
    width: 30%;
    height: 75%;
    font-family: var(--ff);
    font-size: var(--fs-6);
    background-color: rgba(0,0,0,0.6);
    color: white;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
  }


  
  .top_section_content li{
    text-align: center;
    margin-top: 2rem;
    border: 1px solid white;
    font-size: var(--fs-p);
  }

  .top_section_content li:hover{
    box-shadow: 0 0 1rem white;
  }


.bottom_section {
    margin-top: 1rem;
}
form {
    margin: 0.5rem 0;
}
form *{
    margin-top:0.5rem ;
    text-align: left;
}